<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <h1>Lista de estudantes por linguagem: </h1>
    <h2>total estudantes: {{estudantes_by_linguagem.total}}</h2>
    <ul>
      {% for linguagem in estudantes_by_linguagem.estudantes_by_linguagem %}
        <li> 
          <h3>{{linguagem.linguagem.nome}}</h3>
            <ol>
              {% for estudante in linguagem.estudantes %}
                <li>{{estudante.primeiroNome}} {{estudante.ultimoNome}}</li>
              {% endfor %}
            </ol>
        </li>
        <br> <br>
        {% endfor %}
    </ul>
    <br><br>
    <p>Tabela com as infos</p>
    <a href="/estudante/showForm/">Formulário de estudantes</a><br>
  </div>
</body>
</html>