<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudante</title>
    
</head>
<body>
  <ul>
    <li>1- <a href="/curso/showForm">Cadastrar curso</a></li>
    <li>2- <a href="/curso/getListaCursos">Ver lista de cursos</a></li>
    <li>3- <a href="/estudante/showForm">Formulário de estudantes</a></li>
    <li>4- <a href="/estudante/getListaEstudantes">Ver lista de estudantes</a></li>
    <li>5- <a href="/estudante/getEstudantesByCurso">Ver lista de estudantes por curso</a></li>
    <li>6- <a href="/estudante/getEstudantesByLinguagem">Ver lista de estudantes por linguagem</a></li>
  </ul>
</body>
</html>